body {
    height: 100vh;
    margin: 0;
    background-image: url(lpp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.eu{
    display:flex;
    align-items: center;
    gap:16px;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}